<section>
  <app-menu></app-menu>
</section>

<section>
  <div class="content__about">
    <div class="content__container">
      <div class="content__about__content">
        <h1>Новости</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__news">
    <div class="content__container">
      <div class="content__news__content row">
        <div class="col-md-9">
          <div class="content__news__content__text">
            <h2>
              Поздравляем с днем независимости!
            </h2>

            <div class="content__news__content__text__middle">
              <div class="content__news__content__text__middle__left">
                <ul>
                  <li>
                    <mat-icon>query_builder</mat-icon>
                    09.09.2019
                  </li>
                  <li>
                    Опубликовано: leaderadmin123456
                  </li>
                  <li>
                    Категория: Новости
                  </li>
                </ul>
              </div>
              <div class="content__news__content__text__middle__rigth">
                <mat-icon>chat_bubble_outline</mat-icon>
                Комментариев нет
              </div>
            </div>
            <div class="content__news__content__text__img">
              <img src="assets/news/news1.jpg" class="img-fluid" alt="">
            </div>
            <div class="content__news__content__text__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorem eligendi est illum impedit maxime nobis nostrum perferendis similique! Accusantium ad aliquid dolor ducimus facere fugit omnis repudiandae vero voluptatibus.
            </div>
            <div class="content__news__content__text__button">
              <a>Далее <mat-icon class="icon_button">keyboard_arrow_right</mat-icon></a>
            </div>
          </div>
          <div class="content__news__content__text">
            <h2>
              Поздравляем с днем независимости!
            </h2>

            <div class="content__news__content__text__middle">
              <div class="content__news__content__text__middle__left">
                <ul>
                  <li>
                    <mat-icon>query_builder</mat-icon>
                    09.09.2019
                  </li>
                  <li>
                    Опубликовано: leaderadmin123456
                  </li>
                  <li>
                    Категория: Новости
                  </li>
                </ul>
              </div>
              <div class="content__news__content__text__middle__rigth">
                <mat-icon>chat_bubble_outline</mat-icon>
                Комментариев нет
              </div>
            </div>
            <div class="content__news__content__text__img">
              <img src="assets/news/news1.jpg" class="img-fluid" alt="">
            </div>
            <div class="content__news__content__text__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorem eligendi est illum impedit maxime nobis nostrum perferendis similique! Accusantium ad aliquid dolor ducimus facere fugit omnis repudiandae vero voluptatibus.
            </div>
            <div class="content__news__content__text__button">
              <a>Далее <mat-icon class="icon_button">keyboard_arrow_right</mat-icon></a>
            </div>
          </div>
          <div class="content__news__content__text">
            <h2>
              Поздравляем с днем независимости!
            </h2>

            <div class="content__news__content__text__middle">
              <div class="content__news__content__text__middle__left">
                <ul>
                  <li>
                    <mat-icon>query_builder</mat-icon>
                    09.09.2019
                  </li>
                  <li>
                    Опубликовано: leaderadmin123456
                  </li>
                  <li>
                    Категория: Новости
                  </li>
                </ul>
              </div>
              <div class="content__news__content__text__middle__rigth">
                <mat-icon>chat_bubble_outline</mat-icon>
                Комментариев нет
              </div>
            </div>
            <div class="content__news__content__text__img">
              <img src="assets/news/news1.jpg" class="img-fluid" alt="">
            </div>
            <div class="content__news__content__text__description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorem eligendi est illum impedit maxime nobis nostrum perferendis similique! Accusantium ad aliquid dolor ducimus facere fugit omnis repudiandae vero voluptatibus.
            </div>
            <div class="content__news__content__text__button">
              <a href="" routerLink="/news_detail">Далее <mat-icon class="icon_button">keyboard_arrow_right</mat-icon></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="left__panel__first">
            <h2>Свежие записи</h2>
            <ul>
              <li>
                <a href="">Поздравляем с днем независимости!</a>
              </li>
              <li>
                <a href="">Кондитерская фабрика «АТАГ»</a>
              </li>
              <li>
                <a href="">Поздравляем с днем независимости!</a>
              </li>
              <li>
                <a href="">Кондитерская фабрика «АТАГ»</a>
              </li>
              <li>
                <a href="">Поздравляем с днем независимости!</a>
              </li>
              <li>
                <a href="">Кондитерская фабрика «АТАГ»</a>
              </li>
            </ul>
          </div>
          <div class="left__panel__second">
            <h2>Архивы</h2>
            <ul>
              <li>
                <a href="">Сентябрь 2019</a>
              </li>
              <li>
                <a href="">Сентябрь 2019</a>
              </li>
              <li>
                <a href="">Сентябрь 2019</a>
              </li>
              <li>
                <a href="">Сентябрь 2019</a>
              </li>
            </ul>
          </div>
          <div class="left__panel__second">
            <h2>Рубрики</h2>
            <ul>
              <li>
                <a href="">Новости</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





















<section>
  <app-footer></app-footer>
</section>
