<section>
  <app-menu></app-menu>
</section>

<section>
  <div class="content__about">
    <div class="content__container">
      <div class="content__about__content">
        <h1>О КОМПАНИИ</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__about__text">
    <div class="content__container">
      <div class="content__about__content__text">
        <img src="assets/LeaderLogo.png" alt="">
        <p>&nbsp; &nbsp; Компания ООО «Лидер» — ведущая дистрибьюторская компания, которая уже более 19 лет успешно работает на рынке продуктов питания Таджикистана. По целому ряду товарных групп компания является лидером продуктового рынка, многие брэнды поставляются на таджикский рынок по эксклюзивным соглашениям с производителями. Компания основана в 2000 году, её целью является – создать для клиентов высокий уровень обслуживания по той товарной номенклатуре, которую компания продвигает в каждом регионе. Поэтому компания осуществляет поставки только высококачественных продуктов питания и стремится к своевременному обеспечению таджикского рынка широким спектром распространяемой продукции. Компания предлагает большой ассортимент только высококачественных продуктов питания от зарубежных производителей.
          <br>
          &nbsp; &nbsp; Высококвалифицированные маркетологи нашей компании за годы работы сумели сформировать сбалансированный ассортимент товаров, который включает в себя: с одной стороны — высоколиквидные мировые и российские брэнды интересные для всех групп покупателей, с другой стороны — брэнды, перспективные для получения хороших доходов в ближайшем будущем, причем многие из них поставляются нам на эксклюзивной основе. Непрерывная работа по продвижению предлагаемых товаров позволяет нашим покупателям уверенно занимать новые рыночные ниши, что является основой для успешного ведения долгосрочного бизнеса. Мы постоянно обновляем наш ассортимент и ведем поиск новых товаров с учетом тенденций рынка.</p>
          <p style="font-size: 14px; color: #000; text-align: justify;">&nbsp; &nbsp;Компания располагает развитой инфраструктурой по комплексному обслуживанию своих партнеров, начиная с оперативного оформления заявки клиента и заканчивая их доставкой транспортом компании заказчику в удобное для него время.</p>
      </div>
    </div>

    <div class="content__about__tab">
      <div class="content__container">
        <div class="content__about__tab__content">
          <mat-tab-group animationDuration="0ms">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"></mat-icon>
                <h2>Преимущество компании</h2>
              </ng-template>
              <br>
              <div class="mat-tab-body-content">
                <ul>
                  <li>профессиональная команда менеджеров, торговых агентов, маркетологов, логистов и др;</li>
                  <li>собственные складские помещения;</li>
                  <li>собственный автопарк;</li>
                  <li>налаженная сеть логистики из стран Европы, СНГ, Южной Кореи,&nbsp; Китая, Турции и других стран;</li>
                  <li>отработанная маршрутизация движения торговых представителей;</li>
                  <li>апробированный сотовый метод работы торговых представителей;</li>
                  <li>ежедневное и ежемесячное планирование продаж;</li>
                  <li>контроль динамики рынка;</li>
                  <li>четкая система отчетности;</li>
                  <li>ежедневный контроль качества;</li>
                </ul>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"></mat-icon>
                <h2>Мы уверены в своем успехе, потому что</h2>
              </ng-template>
              <br>
              <div class="mat-tab-body-content">
                <ul>
                  <li>качество продукции завоевывает сердца все большего числа потребителей каждый день;</li>
                  <li>цены на продукцию доступны абсолютно для всех потребителей;</li>
                  <li>продуманная до мелочей логистика, работает как часы;</li>
                  <li>гибкая ценовая политика позволяет выгодно сотрудничать с компанией как партнерам, так и клиентам;</li>
                  <li>наша система учета соответствует международным стандартам.</li>
                  <li>и, наконец, коллектив компании состоит из профессионалов, уровень которых высоко оценили наши клиенты.</li>
                </ul>
              </div>

            </mat-tab>

          </mat-tab-group>
          <p>&nbsp; &nbsp;Мы принципиально не занимаемся реализацией тех продуктов, которые вредны для здоровья и окружающей среды. (Табак, спиртные напитки и продукты, содержащие ГМО).</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>
