<div class="content__footer">
  <div class="content__container">
    <div class="content__footer__contents">
      <div class="content__footer__contents__item">
        <p>2019 -2021© Все права защищены “ООО Лидер”</p>
      </div>
      <div class="content__footer__contents__item">
        <button><mat-icon>android</mat-icon></button>
        <button><mat-icon>shopping_cart</mat-icon></button>
      </div>
      <div class="content__footer__contents__item">
        <p>Разработка сайта: Веб-студия NANOCODING.COM</p>
      </div>
    </div>
  </div>
</div>
