<div class="item">
  <div class="content__check__contents__second__item">
    <h1 class="counter">19</h1>
    <p>Лет работаем на рынке</p>
  </div>
  <div class="content__check__contents__second__item">
    <h1 class="counter1">30</h1>
    <p>Надежных партнеров за рубежом</p>
  </div>
  <div class="content__check__contents__second__item ">
    <h1 class="counter2 ">90%</h1>
    <p class="third">Охват рынка Таджикистана</p>
  </div>
  <div class="content__check__contents__second__item">
    <h1 class="counter3">15</h1>
    <p>Cобственных складских помещений и автопарк</p>
  </div>
</div>



