<section>
  <app-menu></app-menu>
</section>

<section>
  <div class="slider">
    <app-slider></app-slider>
  </div>
</section>

<section>
  <div class="content__subscribe">
    <div class="content__container">
      <div class="content__subscribe__container">
        <div class="content__subscribe__text">
          <h2>Лидер — оптовые поставки продуктов питания</h2>
        </div>
        <div class="content__subscribe__button">
          <button>сотрудничать <mat-icon class="icon_button">keyboard_arrow_right</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content__block">
    <div class="content__container">
      <div class="content__container__blocks">
        <div class="content__container__block__content">
          <img src="assets/icon_block1.png" alt="" width="36" height="48">
          <p class="content__container__block__content__title">
            ВСЯ ПРОДУКЦИЯ СЕРТИФИЦИРОВАНА
          </p>
          <p>Наши товары сертифицированы и проходят все необходимые проверки на качество и безопасность….</p>
          <a href="">ПОДРОБНЕЕ…</a>
        </div>
        <div class="content__container__block__content">
          <img src="assets/icon_block2.png" alt="" width="37" height="37">
          <p class="content__container__block__content__title">
            СИСТЕМА УЧЕТА СООТВЕТСТВУЕТ МЕЖДУНАРОДНЫМ СТАНДАРТАМ
          </p>
          <p>Система учёта нашей компании соответствует международным стандартам и специализируется  на учете всех внутренних бизнес…</p>
          <a href="">ПОДРОБНЕЕ…</a>
        </div>
        <div class="content__container__block__content">
          <img src="assets/icon_block3.png" alt="" width="37" height="34">
          <p class="content__container__block__content__title">
            ИНДИВИДУАЛЬНЫЙ ПОДХОД К КАЖДОМУ КЛИЕНТУ
          </p>
          <p>На каждом этапе работы компания «Лидер» стремится к реализации интересов, целей и задач клиента…</p>
          <a href="">ПОДРОБНЕЕ…</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__about">
    <div class="content__container">
      <div class="content__about__contents">
        <div class="content__about__content first">
          <h2>О КОМПАНИИ</h2>
          <h5>КОРОТКО О НАС</h5>
        </div>
        <div class="content__about__content second">
          <p>&nbsp; &nbsp; Компания ООО «Лидер» — ведущая дистрибьюторская компания, которая уже более&nbsp;19 лет успешно работает на рынке продуктов питания Таджикистана. По целому ряду товарных групп компания является лидером продуктового рынка, многие бренды поставляются на рынок Таджикистана по эксклюзивным соглашениям с производителями. Компания основана в 2000 году, её целью является – создать для клиентов высокий уровень обслуживания по той товарной номенклатуре, которую компания продвигает в каждом регионе.</p>
          <a href=""> ЧИТАТЬ ПОДРОБНЕЕ…</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__check">
    <div class="content__container">
      <div class="content__check__contents">
        <div class="content__check__contents__first">
          <mat-icon class="check">check_circle_outline</mat-icon>
          <h2>Преимущество компании</h2>
          <h5><i>Мы уверены в своем успехе</i></h5>
        </div>
        <div class="content__check__contents__second">
          <app-animated-number></app-animated-number>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__map">
    <div class="content__container">
      <div class="content__map__contents">
        <div class="content__map__contents__first">
          <h2>ПАРТНЕРЫ</h2>
          <h5>География поставщиков</h5>
        </div>
        <div class="content__map__contents__second">
          <img src="assets/world-map-amid.png" alt="">
        </div>
      </div>
    </div>
    <div class="content__logo__partners">
      <div class="content__container">
        <app-slider-logo></app-slider-logo>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__slag">
    <div class="content__container">
      <div class="content__slag__text">
        <p>Мы принципиально не занимаемся реализацией тех продуктов, которые вредны для здоровья и окружающей среды</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__news__title">
    <div class="content__container">
      <div class="content__news__title__text">
        <h2>НОВОСТИ</h2>
      </div>

      <div class="content__news__body">
        <div class="content__news__body__content">
          <img src="assets/news/news1.jpg" alt="">
          <h5>Поздравляем с днем независимости!</h5>
          <mat-icon>access_time</mat-icon><p>09.09.2019</p>
        </div>
        <div class="content__news__body__content">
          <img src="assets/news/news1.jpg" alt="">
          <h5>Кондитерская фабрика «АТАГ»</h5>
          <mat-icon>access_time</mat-icon><p>09.09.2019</p>
        </div>
        <div class="content__news__body__content">
          <img src="assets/news/news3.png" alt="">
          <h5>Поставки оливкового масло и оливок из Испании</h5>
          <mat-icon>access_time</mat-icon><p>09.09.2019</p>
        </div>
        <div class="content__news__body__content">
          <img src="assets/news/news4.png" alt="">
          <h5>Импорт молочной продукции из Белоруссии</h5>
          <mat-icon>access_time</mat-icon><p>09.09.2019</p>
        </div>
      </div>

      <div class="content__news__footer">
        <button>ЕЩЕ</button>
      </div>
    </div>
  </div>


</section>

<section>
  <app-footer></app-footer>
</section>










