.content__geo{
  padding-top: 50px;



  .content__geo__contents{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    .content__geo__content{

      h1 {
        color: #3390ce;
        text-align: right;
        font-weight: 700;
        margin-top: 20px;

        &:after {
          content: '';
          display: block;
          width: 35px;
          height: 6px;
          background: #d13821;
          border-radius: 3px;
          margin-top: 15px;
          margin-left: 180px;


        }

      }

      img{
        width: 60px;
        height: 60px;

      }
    }

  }


}

iframe {
  margin-top: 20px;
}
