<section>
  <app-menu></app-menu>
</section>

<section>
  <div class="content__geo">
    <div class="content__container">
      <div class="content__geo__contents">
        <div class="content__geo__content">
          <img src="assets/icon_block2.png" alt="">
        </div>
        <div class="content__geo__content">
          <h1>География продаж</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content__container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3991.73247979373!2d69.6497619!3d40.2681933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b1b2bf5c1edfa1%3A0xe06d016679a98ad9!2z0JrQsNC30LrQvtC8!5e1!3m2!1sru!2s!4v1618491470230!5m2!1sru!2s" width="1140" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>


<section>
  <app-footer></app-footer>
</section>
