<section>
  <app-menu></app-menu>
</section>

<section>
  <div class="content__about">
    <div class="content__container">
      <div class="content__about__content">
        <h1>ПАРТНЕРЫ</h1>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="content__logo__part">
    <div class="content__container">
      <div class="content__logo__part__content">
        <img src="assets/2_doshirak-1.png" alt="">
        <img src="assets/1_skorovar-1.png" alt="">
        <img src="assets/10_yantarniy_mir-1.png" alt="">
        <img src="assets/roga.png" alt="">
        <img src="assets/mpir.png" alt="">
        <img src="assets/santa.png" alt="">
        <img src="assets/sav.png" alt="">
        <img src="assets/shap-2.png" alt="">
        <img src="assets/2_doshirak-1.png" alt="">
        <img src="assets/2_doshirak-1.png" alt="">
        <img src="assets/1_skorovar-1.png" alt="">
        <img src="assets/10_yantarniy_mir-1.png" alt="">
        <img src="assets/roga.png" alt="">
        <img src="assets/mpir.png" alt="">
        <img src="assets/santa.png" alt="">
        <img src="assets/sav.png" alt="">
        <img src="assets/shap-2.png" alt="">
        <img src="assets/2_doshirak-1.png" alt="">
        <img src="assets/2_doshirak-1.png" alt="">
        <img src="assets/1_skorovar-1.png" alt="">
        <img src="assets/10_yantarniy_mir-1.png" alt="">
        <img src="assets/roga.png" alt="">
        <img src="assets/mpir.png" alt="">
        <img src="assets/santa.png" alt="">
        <img src="assets/sav.png" alt="">
        <img src="assets/shap-2.png" alt="">
        <img src="assets/2_doshirak-1.png" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <app-footer></app-footer>
</section>

