.home__super__top{
  padding: 10px 0 ;
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);

  .home__container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
    img{
      width: 146px;
      height: 65px;
    }
      ul{
        padding: 0;
        list-style: none;
        margin-left: 78px;

        li{
          display: inline-block;
          padding: 0 10px;
          font-size: 15px;

          a{
            color: #3390ce;
            font-weight: 600;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
          }
        }

        .active a{
          color: #000;
        }
      }
}
.bg-light{
  background-color: transparent!important;
}

@media screen and (max-width: 400px) {
  .home__container {
    width: 100%!important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-nav{
    padding: 0!important;
    margin-left: 0px!important;

    li a{
      padding: 11px 36px 11px 10px;
      display: block;
      font-size: 20px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: -0.04em;
    }
  }

}
